#board {
    padding-top: 3em;
    text-align: center;
    color: black;
}

.row {
   
    width: 302px;
    
    clear: both;
    margin: 0 auto;
    
   }
.row > div {
    float:  left;
    height: 100px;
    width:  100px;
    cursor: pointer;
    line-height: 100px;
    font-size: 75px;
    }

.top {
    
    border-bottom: 1px solid black;
}
.bottom {
   
    border-top: 1px solid black;
}
.left {
    
    border-right: 1px solid black;
}
.right {
    
    border-left: 1px solid black;
}

.playerX{
    background-color: lightgreen;
    content: "X"

}

.playerO{
    background-color: lightpink;
    content: "O"

}



